@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.eot');
  src: url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.woff')
      format('woff'),
    url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'iranyekan', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .user-image {
    width: 100% !important;
  }
}

.text-justify {
  text-align: justify;
}

.rtl {
  direction: rtl;
}

.accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}
